body{
    background-color: #d0739d;
    color: white;
}
h1{
    font-size:larger;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
h2{
    font-size:medium;
    font-family:'Courier New', Courier, monospace;
    color:yellow;
}
h3{
    font-size:medium;
    font-family:'Courier New', Courier, monospace;
    color:rgb(214, 214, 246);
}
p{
    line-height: 50px;
}
img{
    border: solid 5px palegreen;
    padding:10px;
    margin: 20px;
    border-top-right-radius: 30px;
}
li{
    display: inline-block;
    border: solid 2px palegreen;
    margin: 5px;
    padding: 5px;
    width: 125px;
    color: yellow;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;

}
nav{
    border: 2px solid rgb(214, 214, 246);
}
nav a{
    background-color: blue;
    margin: 5px;



}
#skip{
    text-transform:underline;
}
.thumbnail{
    border: 5px solid rgb(168, 168, 245);
    margin: auto;
    width: 250px;
    display: block;
    border-radius: 0;
}
#skip{
    position:absolute;
    left: -500px;
}
#skip:focus{
    position:absolute;
    left: 200px;
}